.main {
    padding: 5rem 0;
}
img {
    max-width: 100%;
}
.carousel-control-prev, .carousel-control-next {
    width:5%;
}
.carousel-caption {
    left: 10% !important;
    right:unset !important;
    color: #333;
    padding: 10px 20px;
    transform: skewX(-20deg);

    h5 {
        font-size: 3rem;
        line-height: 0.88889;
        font-weight: 900;
        letter-spacing: 0.025em;
    }
}
.caption-top {
    bottom: 45% !important;
    background-color: $primary-yellow;
}
.caption-bottom {
    bottom: 30% !important;
    background-color: $primary-blue;
}
.slider-right-cover {
    position: absolute;
    top: 37%;
    right: 10%;
    z-index: 10;
    text-align: center;
    line-height: 4;
    h1,p {
        color:$white;
    }
    p{
        font-size: 1.6rem;
        @media only screen and (max-width: 767.98px){
         font-size: 1.3rem;

        }
    }

    @media only screen and (max-width: 991.98px){
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        line-height: 2;
        right: unset;
    }
    h1 {
        @media only screen and (max-width: 767.98px){
            font-size: 2rem;
        }
    }
}
.comment {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
    background-color:$white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 1.6rem;
    //transform: skewX(-12deg);
    &__text {
    }
    &__img {
        height: 100%;
        transform:scale(1.4);
        backface-visibility: hidden;
        transition: all 0.5s;
    }
    &__shape {
        clip-path: circle(50% at 50% 50%);
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        transform: translateX(-3rem);
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-transform: uppercase;
        text-align: center;
        font-size: 1.7rem;
        color: #fff;
        opacity: 0;
        transition: all 0.5s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}
.review {
    background-color:#fff;
    padding:3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
        text-align: right;
    }

    &__user{
        display: flex;
        align-items: center;
        text-align: right;
    }
    &__photo {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-left: 1.5rem;
    }

    &__user-box{
        margin-left: auto;
    }

    &__user-name{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 0.4rem
    }

    &__user-rating{
        color:$primary-blue;
        font-size: 1.8rem;
    }
    &__user-date{
        font-size: 1rem;
        color:var(--color-grey-dark-3);
    }
    &::before{
        content:"\201C";
        position: absolute;
        top: -3rem;
        left: -0.7rem;
        line-height: 1;
        font-size: 20rem;
        color: #efefef;
        font-family: sans-serif;
        z-index: 1;
    }
}
.section-stories {
    position: relative;
    padding: 15rem 0;
}
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.15;
    overflow: hidden;
    &__content {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.descriptions {
    position: relative;
    padding: 10rem 0;

    h1 {
        text-align: center;
        margin-bottom: 3rem;
        font-weight: bold;
        font-size: 2rem;
    }
}
.video{
    width: 95%;
}