.mobile-menu{
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $white;
    z-index: 100;
    padding: 7rem 1.4rem 2rem 1rem;
    transition: all 0.3s;
    text-align: right;
    &-hidden{
        margin-right: -100rem;
    }
    @include respond(md){
        width: 50%;
    }
    @include respond(xs){
        width: 70%;
    }
    .mobile-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
        background: none;
        border:none;
        cursor: pointer;
    }
    .mobile-nav{
        &-item{
            text-transform: uppercase;
            color:$primary-black;
            font-size:1.4rem;
            font-weight: 700;
            cursor: pointer;
            padding: 1.5rem 0;
            margin-bottom: 0;
             &:not(:first-child) {
                border-top: 1px solid #dee1ea;
            }
        }
    }
}
.overlay{
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.7;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;

    &-hidden{
        display: none;
    }
}