.footer {
    background-color: #d7dee0;
    padding: 6rem 0 1rem !important;

    &__logo {
        text-align: center;
    }
    .nav-link {
        color: $light-black;
        &:hover {
            color: $primary-blue;
        }
    }
    &__form {
        margin-bottom: 3rem;
    }
    &__social {
        text-align: right;
        i {
            color: $primary-blue;
        }
        h4{
            @media only screen and (max-width: 767.98px) {
                text-align: center;
                font-size: 14px;
            }
        }
    }
    &__navbar {

    }
    &__description {
        text-align: right;
    }
    &__content {
       h1{
           margin-bottom: 1.5rem;
           @media only screen and (max-width: 767.98px) {
               text-align: center;
               margin: 3rem 0;
           }
       }
    }
    &__copyright {
        display: flex;
        justify-content: center;
        font-size: 13px;
    }
    &__submit {
        padding: 1rem 3rem;
        color: $white;
        font-size: 1.4rem;
        background-color: $primary-blue;
        border-radius:0 0 .25rem 0.25rem ;
    }
    &__navbar {
        @media only screen and (max-width: 767.98px) {
           justify-content: center;
        }
        .navbar-nav {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .nav-item{
                margin: 0 1.5rem;
                @media only screen and (max-width: 767.98px) {
                    width: 10.5rem;
                    text-align: center;
                    margin: 1rem 1.5rem;
                }
            }
        }
    }
    .footer-classic-info {
        display: flex !important;
        .unit-right {
            width: 10rem;
            margin-bottom: 3rem;
        }
        .unit-body {
            color: #707279;
            padding: 0 1rem;
            margin-bottom: 3rem;
        }
    }
    .form-label {
        @media only screen and (max-width: 767.98px) {
            text-align: center !important;
            margin: 2rem;
        }
    }
    #footer-form-email {
        font-weight: 500;
        border: none;
        padding: 2.2rem 1rem;
        border-radius:0 0.25rem 0.25rem 0 !important;
        &:focus {
            outline: none;
        }
        @media only screen and (max-width: 767.98px) {
            font-size: 1.3rem;
        }
    }
    .form-group {
        overflow: hidden;
        position: relative;
    }
    .form-label {
        text-align: right;
        color: $black;
        display: block;
    }
    h5 {
        color: $white;
        text-align: right;
        font-size: 18px;
        font-weight: bold;
    }
    ul.list-inline {
        display: flex;
        li {
            padding-left: 25px;

            color: white;
            .unit {
                display: flex;
                font-size: 13px;
                &-right {
                    margin-bottom: 7px;
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                }
                &-left {
                    margin-right: 10px;
                }
                &-body {
                    a {
                        color: $white;
                    }
                    @media (min-width: 1200px) {
                        h6,
                        .heading-6 {
                            font-size: 16px;
                            line-height: 1.25;
                            color: #9b9b9b;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        & {
            padding: 60px 0 50px;
        }
    }
}
